.navbar {
  height: 80px;
  background-color: violet;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
}
.links {
  width: 600px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.body-content {
  font-size: 30px;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  background-color: violet;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
